body {
  /* background-color: #004466;  */
  background-color: #001f2e;
 
}


.wrapper {
  text-align: center;         /* centra il contenuto*/
  margin:auto;             /* centra il div (wrapper) */
  background-color: #00334d;
}

#immagine {
  width: 30%;
}
